---
layout: page
title: Helvetic Ruby Conference 2025
description: A single-track conference for Ruby enthusiasts and professionals from Switzerland and abroad.
social_media_title: Helvetic Ruby | May 22-23, 2025, Geneva
no_logo: true
---
<main class="constrain stack stack-xl">
  <section class="region">
    <div class="hero">
      <div class="hero-brand">
        <h1 class="main-title"><span class="brand">Helvetic<br> Ruby</span><br> <span class="brand-highlight main-title--year">2025</span></h1>
        <svg class="ruby" viewBox="0 0 107 168" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M44.333 143.373L45.896 123.764L78.862 159.856L31.829 167.529L44.333 143.373Z" fill="#B90000"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 138.684L2.984 59.537L47.744 86.819L45.896 123.764L44.333 143.373L31.829 167.529L0 138.684Z" fill="#FF1D1D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M66.113 52.575L47.743 86.819L45.896 123.764L78.862 159.856L106.855 131.011L66.113 52.575Z" fill="#CF0000"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M68.49 14.21L70.763 43.907L66.113 52.575L106.855 131.011V52.575L68.489 14.209L68.49 14.21Z" fill="#FF3232"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M2.98401 59.537L44.76 0L68.49 14.21L70.763 43.907L66.113 52.575L47.743 86.819L2.98401 59.537Z" fill="#FF6363"/>
          <path d="M62.203 66.216H44.627V84.426H26.417V102.002H44.627V120.212H62.203V102.002H80.413V84.426H62.203V66.216Z" fill="#F5F5F5"/>
        </svg>
      </div>
      <div class="hero-details">
        <div>
          <div class="lead">
            May 22–23, 2025<br>
            <span class="subtle">Geneva, Switzerland</span>
          </div>
        </div>

        <div class="hero-dates">
          <div>
            <div class="highlight bold">
              Community day
            </div>
            <div class="hero-date">
              <time>22.05.2025</time>
            </div>
          </div>

          <div>
            <div class="highlight bold">
              Talks
            </div>
            <div class="hero-date">
              <time>23.05.2025</time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="highlight eyebrow">The Swiss Ruby conference travels to Geneva</h2>
    <p class="lead">
      Helvetic Ruby 2025 is a single-track conference for Ruby programming language enthusiasts and professionals from Switzerland and abroad.
      We met in <a href="../2023">Bern in 2023</a> and <a href="../2024">Zurich in 2024</a>. In 2025, we are happy to welcome you in Geneva.
    </p>
  </section>

  <section>
    <div class="flex-center">
      <a href="https://ti.to/helvetic-ruby/helvetic-ruby-2025" class="cta">Buy an early-bird ticket for 2025</a>
    </div>
  </section>

  <section class="region stack" id="speakers">
    <h2>2025 speakers</h2>
    <div class="grid speakers">
      {% for speaker in site.data._2025.speakers %}
        <article class="speaker-preview">
          <figure>
            <img class="speaker-picture" width="80" height="80" alt="{{ speaker.name }}" src="{{ speaker.image }}">
          </figure>
          <div>
            <div>
              <a href="/talks#{{ speaker.id }}">{{ speaker.name }}</a>
            </div>
            <div class="speaker-preview-details">
              <p>{{ speaker.title }}</p>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <h3 id="workshops">Workshops</h3>
    <div class="grid speakers">
      {% for workshop in site.data._2025.workshops %}
        <article class="speaker-preview">
          <figure class="{% if workshop.presenters.size > 1 %}multiple-speaker-pictures{% endif %}">
            {% for speaker in workshop.presenters %}
            <img class="speaker-picture" width="80" height="80" alt="{{ speaker.name }}" src="{{ speaker.image }}">
            {% endfor %}
          </figure>
          <div>
            <div>
              <a href="/talks#{{ workshop.id }}">
                {{ workshop.presenters | map: "name" | join: " & <br>" }}
              </a>
            </div>
            <div class="speaker-preview-details">
              <p>{{ workshop.title }}</p>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

  <section class="region stack stack-s">
    <h2>What to expect at Helvetic Ruby</h2>
    <div>
      <h3>A good mix of talks</h3>
      <p>We aim for a varied programme where everyone can learn something, no matter your level of expertise.</p>
    </div>

    <div>
      <h3>Ample break time</h3>
      <p>A single conference track with long breaks means you have enough time to meet people between the sessions. Or ask questions to the speaker that just came off stage. Or just rest for a bit. We want you refreshed and eager for the next presentation.</p>
    </div>
    <div>
      <h3>Extra activities on surrounding days</h3>
      <p>While the conference talks are on Friday, 23rd May 2025, we have also planned community events on Thursday and Saturday.</p>
    </div>

    <div>
      <h3>Workshops and community day on Thursday, 22nd May</h3>
      <p>On Thursday afternoon we offer 2 workshops! In addition, there will be a community space to work on open source or hang out with other attendees.
      </p>
    </div>

    <div>
      <h3>Guided tour of CERN on Saturday, 24th May — limited places</h3>
      <p>On Saturday, 24th May 2025, we organize a guided tour of CERN, the European Organisation for Nuclear Research. The tour takes place from 9:00 until 12:00. The places are limited so please book the tour only if you're confident you can come. You can book by <a href="https://ti.to/helvetic-ruby/helvetic-ruby-2025">purchasing one of the conference tickets</a> with mention "guided tour of CERN". <a href="https://home.cern/">Read more about CERN</a>
      </p>
    </div>
  </section>

  <section class="region stack stack-s">
    <h2>
      Impressions from previous years
    </h2>

    <ul class="prose">
      <li>
        <a href="https://www.youtube.com/playlist?list=PL4jngagx9f7RGaAjXE0PR3z_jsA9cyCji">Talk recordings</a> and <a href="https://photos.app.goo.gl/ix3zzvUnfwSqRAgL6">pictures</a> from <a href="../2024">Helvetic Ruby 2024</a>.
      </li>
      <li>
        <a href="https://www.youtube.com/playlist?list=PL4jngagx9f7TIyNkSkS15oDrVPCa7LXsT">Talk recordings</a> and <a href="https://photos.app.goo.gl/eSGGEP4BbrcFGF1p8">pictures</a> from <a href="../2023">Helvetic Ruby 2023</a>.
      </li>
    </ul>
    <div class="iframe-container">
      <iframe max-width="560" max-height="315" src="https://www.youtube-nocookie.com/embed/6O0Cz-3pNp0?si=LSQXVTlZYU8sJ2Pf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </section>

  <section class="region">
    <div class="wrap mailing-list-cta">
      <p class="mailing-list-intro">
        More details will follow.
        Drop us your email address and you'll always be the first to receive the latest news!
      </p>
      <p>
        <a href="mailto:keep-me-posted@helvetic-ruby.ch?subject=Keep%20me%20posted&body=[You%20can%20leave%20this%20part%20of%20the%20mail]" class="cta">
          Join mailing list
        </a>
      </p>
    </div>
  </section>

  <section class="stack stack-s center">
    <h2>Location</h2>

    <div class="venue-location">
      <div class="map-pin-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <!-- https://heroicons.com/ map-pin -->
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
        </svg>
      </div>

      <address>
        Uptown Geneva<br>
        Rue de la Servette 2<br>
        1201 Geneva<br/>
        Switzerland
      </address>
    </div>

    <p>Find travel information and hotel tips on the <a href="location">location page</a>.</p>
  </section>

  <section class="region center stack stack-xl">
    <div class="stack stack-s">
      <h2 id="sponsors">Sponsors</h2>

      <div>
        <p>
          Do you want to support Helvetic Ruby? Find out more about <a href="sponsorships">sponsoring opportunities</a>.
        </p>
      </div>

      <div>
        <h3 class="subtle">Silver</h3>
        <div class="sponsors">
          <div class="sponsor sponsor--silver">
            <a href="https://www.rorvswild.com/" class="logo">
              <img src="images/sponsors/rorvswild.svg" alt="RoRvsWild logo" />
            </a>
          </div>

          <div class="sponsor sponsor--silver">
            <a href="https://www.qoqa.ch/" class="logo">
              <img src="images/sponsors/qoqa.svg" alt="QoQa logo" />
            </a>
          </div>

          <div class="sponsor sponsor--silver">
            <a href="https://www.endress.com" class="logo">
              <img src="images/sponsors/E+H.png" alt="Endress+Hauser logo" />
            </a>
          </div>
        </div>
      </div>

      <div>
        <h3 class="subtle">Bronze</h3>
        <div class="sponsors">
          <div class="sponsor sponsor--bronze">
            <a href="https://www.puzzle.ch/" class="logo">
              <img src="images/sponsors/puzzle.svg" alt="Puzzle ITC logo" style="height: 4rem; max-height: 4rem;" />
            </a>
          </div>

          <div class="sponsor sponsor--bronze">
            <a href="https://www.renuo.ch/" class="logo">
              <img src="images/sponsors/renuo.png" alt="Renuo logo" />
            </a>
          </div>

          <div class="sponsor sponsor--bronze">
            <a href="https://pia-planer.ch/" class="logo">
              <img src="images/sponsors/pia.png" alt="Pia Planer logo" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h3 class="subtle">Travel sponsors</h3>
      <div class="sponsors">
        <div class="sponsor sponsor--travel">
          <a href="https://thoughtbot.com" class="logo">
            <img src="images/sponsors/thoughtbot.svg" alt="thoughtbot logo" style="max-height: 3rem" />
          </a>
        </div>

        <div class="sponsor sponsor--travel">
          <a href="https://github.com" class="logo">
            <img src="images/sponsors/github.png" alt="GitHub logo" style="max-height: 3rem" />
          </a>
        </div>

        <div class="sponsor sponsor--travel">
          <a href="https://scan.com" class="logo">
            <img src="images/sponsors/scan.svg" alt="scan.com logo" style="max-height: 3rem" />
          </a>
        </div>

        <div class="sponsor sponsor--travel">
          <a href="https://visuality.pl" class="logo">
            <img src="images/sponsors/visuality.png" alt="visuality.pl logo" style="max-height: 2.5rem" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="stack stack-s center">
    <h2>Partners</h2>

    <div class="partners">
      <div class="partner">
        <a href="https://friendlyrb.com/" class="logo">
          <img src="images/sponsors/friendlyrb.png" alt="friendly.rb logo" />
        </a>
      </div>

      <div class="partner">
        <a href="https://2024.euruko.org/">
          <img src="images/sponsors/euruko_black.png" alt="Euruko 2024 logo" style="max-height: 3rem" />
        </a>
      </div>

      <div class="partner">
        <a href="https://balticruby.org/">
          <img src="images/sponsors/baltic_ruby.jpeg" alt="Baltic Ruby 2024 logo" style="max-height: 5rem" />
        </a>
      </div>

      <div class="partner">
        <a href="https://www.grusp.org/">
          <img src="images/sponsors/grusp.svg" alt="GrUSP logo" />
        </a>
      </div>

      <div class="partner">
        <a href="https://swissdevjobs.ch/">
          <img src="images/sponsors/swiss-dev-jobs.png" alt="SwissDevJobs logo" />
        </a>
      </div>

      <div class="partner">
        <a href="https://www.rubycommunityconference.com/">
          <img src="images/sponsors/ruby_community_conference.png" alt="Ruby Community Conference logo" />
        </a>
      </div>
    </div>
  </section>

  <section class="region stack stack-s center">
    <p>
      Helvetic Ruby 2025 is organized by:
    </p>
    <div class="wrap flex-center">
      <figure class="stack organizer">
        <img class="organizer-picture" width="100" height="100" alt="Dimiter Petrov" loading="lazy" src="images/organizers/dimiter-petrov.jpg">
        <div>
          Dimiter Petrov
        </div>
      </figure>
      <figure class="stack organizer">
        <img class="organizer-picture" width="100" height="100" alt="Hana Harencarova" loading="lazy" src="images/organizers/hana-harencarova.jpg">
        <div>
          Hana Harencarova
        </div>
      </figure>
    </div>
  </section>
</main>
