<!-- <div class="center banner">
  Early bird ticket sales ends on March 18th, get your ticket soon! 😉
</div> -->

<header class="constrain">
  <nav class="menu top-menu">
    {% unless page.no_logo %}
    <div>
      <a href="/">
        <img src="/images/helvetic-ruby.svg" width="138" height="48" alt="Helvetic Ruby" />
      </a>
    </div>
    {% endunless %}

    <ul class="wrap">
      <li><a href="/location">Location</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/talks">Talks</a></li>
      <li><a href="/#sponsors">Sponsors</a></li>
    </ul>
    <div>
    </div>
  </nav>
</header>
