<header class="constrain">
  <nav class="menu top-menu">
    {% unless page.no_logo %}
    <div>
      <a href="/">
        <img src="/images/helvetic-ruby.svg" width="138" height="48" alt="Helvetic Ruby" />
      </a>
    </div>
    {% endunless %}

    <ul class="wrap">
      <li><a href="/location">Location</a></li>
      <li><a href="/schedule">Schedule</a></li>
      <li><a href="/#sponsors">Sponsors</a></li>
      <li><a href="/call-for-speakers">Call for speakers</a></li>
    </ul>
    <div>
      <a href="https://ti.to/helvetic-ruby/helvetic-ruby-2025" class="cta">Buy a ticket</a>
    </div>
  </nav>
</header>
