<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Helvetic Ruby">
<meta property="og:title" content="{{ page.social_media_title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:type" content="Website">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="https://helvetic-ruby.ch/images/helvetic_ruby_logo_with_text_rectangular.png">
<meta property="twitter:title" content="{{ page.social_media_title }}">
<meta property="twitter:description" content="{{ page.description }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:image" content="https://helvetic-ruby.ch/images/helvetic_ruby_logo_with_text_rectangular.png">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/styles/styles.css">
<link href="https://ruby.social/@helvetic_ruby" rel="me">
<link rel="icon" href="/images/favicon.svg">
