---
layout: page
title: Talks | Helvetic Ruby Conference 2025
description: Talks and speakers at the 2025 edition of the Helvetic Ruby conference.
social_media_title: Talks | Helvetic Ruby Conference 2025
---
<main class="constrain region">
  <h1>Talks & speakers</h1>
  <div class="stack speakers-and-talks">
    {% for speaker in site.data._2025.speakers %}
    <article class="stack region" id="{{ speaker.id }}">
      <section class="stack">
        <div class="stack speaker-preview center">
          <figure>
            <img class="speaker-picture" width="200" height="200" alt="{{ speaker.name }}" src="/{{ speaker.image }}">
          </figure>
          <h2>
            {{ speaker.name }}
          </h2>
        </div>

        <div class="stack">
          {{ speaker.biography | markdownify }}
        </div>
      </section>

      <section class="stack">
        <h3>
          {{ speaker.title }}
        </h3>

        {{ speaker.abstract | markdownify }}

        {% if speaker.sponsor %}
        <footer class="wrap">
          <img src="/images/icons/train.svg" alt="" />
          <p>
            {{ speaker.sponsor }}
          </p>
        </footer>
        {% endif %}
      </section>
    </article>
    {% endfor %}
  </div>
</main>
