/* Reset */

body {
  margin: 0;
}

blockquote,
pre,
ol,
ul,
figure {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border: none;
}

article,
aside,
figure,
footer,
header,
aside,
main,
nav {
  display: block;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Type scale */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}

/* Space scale */
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);
}

:root {
  --measure: 60ch;
  --gutter: var(--space-s-m);
}

/* Colours */

:root {
  --white: #fff;
  --ruby: #cc0000;
  --grey: #101010;
  --gold: Gold;


  --brand: #810202;
  --brand-highlight: #f90101;

  /*
   * Especially for business cards
  --subtle-text: #9e8e89;
  --strong-text: #4a3133;
  */

  --primary: #3e0000;
  --on-primary: #f2ede1;
  --secondary: #e80101;
  --subtle: #6b3b38;

  --link-text: #6b3b38;

  --cta: #ffffff;
  --on-cta: #e80101;
}

/* Typography */

:root {
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --line-height: 1.6;
}

html {
  color: var(--primary);
  background: var(--on-primary);
}

body {
  font: 400 var(--step-0) / var(--line-height) var(--font-stack);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
  margin: 0;
}

h1 { font-size: var(--step-4); }
h2 { font-size: var(--step-2); }
h3 { font-size: var(--step-1); }

.prose li {
  margin-left: 1.5em;
  padding-left: 1em;
}

.prose h2,
.prose h3,
.prose h4 {
  margin-top: var(--space-l-xl);
}

.prose h1+h2,
.prose h2+h3,
.prose h3+h4 {
  margin-top: var(--space-s-m);

}


a {
  color: var(--link-text);
  text-decoration-thickness: 1.5px;
  text-decoration-color: var(--link-text);
}

a:hover,
a:focus {
  color: currentcolor;
  text-decoration-color: currentcolor;
}

blockquote {
  padding-left: var(--space-s);
  border-left: 2px solid var(--subtle);
}

/* Layout */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.stack-xl {
  --space: var(--space-xl);
}

.stack-s {
  --space: var(--space-s-m);
}

.constrain {
  width: 100%;
  max-width: var(--measure);
  padding-inline: var(--gutter);
  margin-inline: auto;
}

.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child {
  margin-block-start: 0;
}

.cover > :last-child {
  margin-block-end: 0;
}

.cover > main {
  margin-block: auto;
}

.wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: var(--space-s-m);
  gap: var(--space-s-m);
}

.region {
  padding-block: var(--space-l-xl);
}

.grid {
  display: grid;
  grid-gap: var(--space, var(--space-s-m));
  --minimum: 15ch;
}

.flex-center {
  display: flex;
  justify-content: center;
}

@supports (width: min(var(--minimum), 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
  }
}

/* Navigation */

.logo {
  height: 3rem;
}

.menu {
  margin-block: var(--space-s-m);
}

.menu ul {
  list-style: none;
}

.top-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-s-m);
}

/* Main page */

.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-l);
}

.hero-brand {
  position: relative;
}

.ruby {
  position: absolute;
  top: 4em;
  right: -1em;
  height: 7em;
  shape-outside: polygon(-0.94% 80.95%, 3.74% 34.53%, 43% -0.59%, 28.98% 100.01%);
}

.main-title {
  font-size: var(--step-5);
  display: inline;
}

.main-title--year {
  font-size: var(--step-4);
}

.brand {
  color: var(--brand);
}

.brand-highlight {
  color: var(--brand-highlight);
}

.hero-details {
  margin-top: var(--space-s);
}

.speakers {
  --space: var(--space-l);
  --minimum: 20ch;
}

.speaker-preview {
  display: flex;
  gap: var(--space-s);
  --space: var(--space-s);
}

.speaker-preview-details {
  font-size: var(--step--1);
}

.speaker-preview figure {
  flex-shrink: 0;
}

.speaker-picture {
  clip-path: polygon(20% 100%, 80% 100%, 100% 80%, 100% 20%, 80% 0%, 20% 0%, 0% 20%, 0% 80%);
  object-fit: cover;
  transition: 0.5s;
  aspect-ratio: 1 / 1;
}

a:hover .speaker-picture,
a:focus .speaker-picture {
  clip-path: polygon(10% 100%, 90% 100%, 100% 90%, 100% 10%, 90% 0%, 10% 0%, 0% 10%, 0% 90%);
}

.venue-location {
  margin-top: var(--space-m);
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-pin-icon svg {
  width: var(--space-l);
}

.mailing-list-cta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.mailing-list-intro {
  max-width: 35ch;
}

.cta {
  color: var(--cta);
  background: var(--on-cta);
  padding: 0.5em 1em;
  border-radius: 100rem;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 200ms ease;
}

.cta:hover,
.cta:focus {
  color: var(--cta);
  background: var(--brand);
}

.footer {
  padding-bottom: var(--space-m-l);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

/* Social */

.social--networks a {
  opacity: 0.75;
  display: flex;
}

.social--networks a:hover {
  opacity: 1;
}

.social--network-icon {
  display: flex;
  width: var(--space-l);
}

/* Sponsors & partners */

.sponsors,
.partners
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--space-s-m);
}

.sponsor,
.partner {
  padding: var(--space-xs-s);
}

.sponsor--gold img {
  max-height: 6rem;
}

.sponsor--silver img {
  max-height: 4.5rem;
}

.sponsor--bronze img,
.sponsor--travel img {
  max-height: 3rem;
}

.partner img {
  max-height: 5rem;
}

/* Organizers */

.organizer {
  font-size: var(--step--1);
  align-items: center;
  --space: var(--space-xs);
}

.organizer-picture {
  clip-path: polygon(20% 100%, 80% 100%, 100% 80%, 100% 20%, 80% 0%, 20% 0%, 0% 20%, 0% 80%);
  object-fit: cover;
  transition: 0.5s;
}

a:hover .organizer-picture,
a:focus .organizer-picture {
  clip-path: polygon(10% 100%, 90% 100%, 100% 90%, 100% 10%, 90% 0%, 10% 0%, 0% 10%, 0% 90%);
}

/* Sponsorships page */

.sponsorships {
  font-size: var(--step--1);
}

@media(min-width: 30rem) {
  .sponsorships {
    font-size: var(--step-0);
  }
}

.sponsorships table {
  border-collapse: collapse;
}

.sponsorships thead {
  border-bottom: 1px solid var(--grey);
}

.sponsorships thead th {
  padding-bottom: var(--space-xs);
}

.sponsorships td {
  text-align: center;
  padding-right: var(--space-s);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
}

.sponsorships td:nth-child(1) {
  text-align: left;
}

.sponsorships td:last-child {
  padding-right: 0;
}

/* Speakers page */

.speakers-and-talks {
  gap: var(--space-l-xl);
}

/* Schedule page */

.schedule-item {
  display: flex;
  align-items: baseline;
}

.schedule-item-title {
  font-size: var(--step-1);
  font-weight: 500;
}

.schedule-time {
  flex: 0 0 auto;
  font-variant-numeric: tabular-nums;
  margin-right: var(--space-s-m);
  color: var(--subtle);
}

.schedule-details {
  margin-top: var(--space-3xs);
}

/* Locations page */

section.arriving-from-abroad-details details {
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: var(--step--2);
}

section.arriving-from-abroad-details details summary {
  background-color: rgba(0, 0, 0, 0.02);
  padding: var(--step--2);
}

section.arriving-from-abroad-details details summary:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

section.arriving-from-abroad-details dl {
  margin: 0;
  padding: var(--step--2);
}

section.arriving-from-abroad-details dt {
  font-size: var(--step--1);
  color: var(--subtle);
}

section.arriving-from-abroad-details dd {
  margin-left: var(--step-1);
  margin-bottom: var(--step--1);
}

dl.trivia dt {
  margin: 0;
  font-size: var(--step--1);
  font-weight: bold;
  padding: var(--space-3xs) var(--space-xs);
  background-color: rgba(0, 0, 0, 0.05);
}

dl.trivia dd {
  margin: 0;
  padding: var(--space-3xs) var(--space-xs);
  margin-bottom: var(--space-s);
  background-color: rgba(0, 0, 0, 0.03);
}

/* Utilities */

.relative {
  position: relative;
}

.highlight {
  color: var(--secondary);
}

.subtle {
  color: var(--subtle);
}

.eyebrow {
  font-size: var(--step-1);
}

.lead {
  font-size: var(--step-2);
  line-height: 1.3;
  margin-bottom: 2rem;
}

.center {
  align-items: center;
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.italic {
  font-style: italic;
}

.small {
  font-size: var(--step--1)
}

.bold {
  font-weight: bold;
}
